<br>
<!-- <div class="w3-container w3-row">
  <div class="w3-col s4">
    <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
  </div>
  <div class="w3-col s8 w3-bar">
    <span class="py-3 ">Welcome,
      <strong>Guest</strong>
    </span>
    <br>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row align-items-center justify-content-start">
    <div class="col pr-0 user-icon-div">
      <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="col px-0">
      <p class="my-0">
        Welcome <span class="text-bold">Guest</span>
      </p>
    </div>
  </div>
</div>
<!-- <hr> -->
<div class="w3-container">
  <br>
</div>
<div class="w3-bar-block nav-link-group">
  <a routerLink="/" routerLinkActive="w3-blue" [routerLinkActiveOptions]="{exact: true}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home"></i>Home</a>
  <a routerLink="/games" routerLinkActive="w3-blue" [routerLinkActiveOptions]="{exact: true}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-gamepad"></i>Games (7)</a>
  <a routerLink="/tickets" routerLinkActive="w3-blue" [routerLinkActiveOptions]="{exact: false}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-ticket"></i>Tickets (0)</a>
  <br>
  <br>
</div>
